 <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#">
          <%= image_tag("mercado_artesanal_color.png", alt: "Mercado Artesanal Logo", class: "img-fluid img-hover-opacity", style: "max-width: 200px;") %>
        </a>

        <!-- Barra de búsqueda -->
       

<!-- Formulario de búsqueda -->
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: root_path, method: :get, class: "d-flex" do |f| %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control" ,
            placeholder: "Buscar productos..."
        %>
          <%= f.button "<i class='bi bi-search' style='color: #c65773;'></i>".html_safe, class: "btn btn-outline-custom" %>
    <% end %>
  </div>
</div>
<!-- Fin del formulario -->

        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Products', products_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'My Orders', orders_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'My Sales', my_sales_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
