
<div class="products-container">
  <h1 class="text-center mb-4">My Orders</h1>
    <% if @orders.present? %>
      <% @orders.each do |order| %>
        <div class="card-product mb-4 p-3" style="position: relative;">
          <%= cl_image_tag(order.product.image.key, alt: order.product.name, class: "img-fluid mb-2") %>
          <div class="card-product-infos">
            <h2><%= order.product.name %></h2>
            <p><%= order.product.description %></p>
            <p>Quantity: <%= order.quantity %><br>Total: $<%= order.total %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-warning" role="alert">
        You have no orders registered.
      </div>
    <% end %>
  </div>
</div>
