  <div class="products-container">
    <h1 class="text-center mb-4">My Products</h1>

    <div class="container">
  <div class="row mb-4">
    <div class="col-md-12 d-flex justify-content-end">
      <%= link_to "Add Product", new_product_path, class: 'btn btn-primary' %>
    </div>

  <% if @products.present? %>
      <% @products.each do |product| %>
<div class="card-product">
  <img src="https://img.freepik.com/foto-gratis/cultura-mexicana-taza-pintada_23-2149672979.jpg?t=st=1733333963~exp=1733337563~hmac=1bd5b910095f34e80d07569ede7d727a35405c4cf5bd495fbd77cff49a5a1cb6&w=360" />
  <div class="card-product-infos">
    <h2><%= product.name %></h2>
    <p><%= product.description %>
    <%= product.stock %>
    <%= product.price %>
    <%= link_to "Edit", edit_product_path(product.id), class: 'btn btn-primary' %></p>
  </div>
</div>
        <% end %>
  <% else %>
    <div class="alert alert-warning" role="alert">
      You have no products registered.
    </div>
  <% end %>
</div>
</div>
