<div class="products-container">
  <h1 class="text-center mb-4">My Sales</h1>

    <% if @sales.present? %>
      <% @sales.each do |sale| %>
        <div class="card-product mb-4 p-3" style="position: relative;">
          <%= cl_image_tag(sale.product.image.key, alt: sale.product.name, class: "img-fluid mb-2") %>
          <div class="card-product-infos">
            <h2><%= sale.product.name %></h2>
            <p>Sale Date: <%= sale.created_at.strftime("%d/%m/%Y") %></p>
            <p>Quantity: <%= sale.quantity %><br>Total: $<%= sale.total %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-warning" role="alert">
        You have no sales registered.
      </div>
    <% end %>
  </div>
</div>
