<h1 class="text-center my-4">Editar Producto</h1>

<div class="container">
<%= simple_form_for @product do |f| %>
  <%= f.input :name, label: "Name" %>
  <%= f.input :description, label: "Description" %>
  <%= f.input :price, label: "Price"%>
  <%= f.input :stock, label: "Stock" %>
  <%= f.input :category_id, collection: Category.all, label_method: :name, value_method: :id, prompt: "Select category", label: "Category" %>

  <%= f.button :submit, "Update", class: "btn btn-primary" %>
<% end %>
</div>
