<div class="container text-container mt-5">
  <h2 class="text-center fw-bold">Products from Mexican Crafts</h1>
  <p class="text-center mt-4 mb-3 text-big">Explore handcrafted products showcasing Mexico's rich cultural heritage,<br>
    from vibrant textiles and ceramics to intricate wooden carvings and silver jewelry. <br>
    Each piece is a testament to traditional craftsmanship.
    </p></div>

<div class="container my-5">
  <div class="row justify-content-center">
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6 mb-4 d-flex justify-content-center" >

        <div class="card custom-shadow custom-border rounded">
          <div class="img-container" style="height: 350px; overflow: hidden;">
            <%= cl_image_tag(product.image.key, class: "card-img-top img-fluid mx-auto d-block", alt: product.name, style: "object-fit: cover; height: 100%; width: 100%;") %>
          </div>


          <div class="card-body">
            <h5 class="card-title text-center"><%= product.name %></h5>
            <p class="card-text text-center"><%= number_to_currency(product.price) %></p>
            <p class="card-text text-center text-muted"><%= product.category.name if product.category %></p>
            <div class="d-flex justify-content-center">
              <%= link_to 'See More', product_path(product), class: 'btn btn-primary btn-sm' %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
