<h1 class="text-center">New Product</h1>
<div class="w-50 container shadow mt-3 p-5">
  <ul>
    <%=simple_form_for @product do |f|%>
      <li><%=f.input :name %></li>
      <li><%=f.input :price%></li>
      <li><%=f.input :description%></li>
      <li><%=f.input :stock%></li>
      <li><%=f.association :category%></li>
      <li><%=f.input :image, as: :file%></li>
      <%=f.submit "Add New Product", class:"btn btn-primary w-100"%>
    </ul>
</div>
<%end%>
