<h1 class="text-center my-4">Order Details</h1>

<div class="card mx-auto" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title"><strong>Product Sold:</strong> <%= @sale.product.name %></h5>
    <p class="card-text"><strong>Product Description:</strong> <%= @sale.product.description %></p>
    <p class="card-text"><strong>Quantity Sold:</strong> <%= @sale.quantity %></p>
    <p class="card-text"><strong>Sale Total:</strong> $<%= @sale.total %></p>
    <p class="card-text"><strong>Sale Date:</strong> <%= @sale.sale_date.strftime("%d/%m/%Y") %></p>
  </div>
</div>

<div class="d-flex justify-content-center mt-4">
  <%= link_to 'My Orders', sales_path, class: "btn btn-primary" %>
</div>
